body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
}

header, footer {
    text-align: center;
    background: #128003;
    color: white;
    padding: 1rem;
}

.pergunta {
    background: white;
    margin: 1rem auto;
    padding: 1rem;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#pergunta2, #pergunta3 { 
    display: none; 
}

.resposta {
    display: none;
    background: #d4edda;
    padding: 0.5rem;
    border-radius: 5px;
    margin-top: 0.5rem;
}

.erro {
    display: none;
    color: red;
}

.resposta img {
  max-width: 250px; 
  width: 100%;      
  height: auto;    
  display: block;
  margin: 10px 0;
}
#historia{
    display: flex;
    justify-content: center;
}
 #home img {
  width: 70%;
  max-width: 400px;   
    
} 
.secao{
    padding: 15px;
    
}
